body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #CF3030;
    color: #fff;
    min-height: 600px;
    padding: 15px;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

hr { 
  border: 0; 
  height: 30px; 
  border-style: solid; 
  border-color: #fff; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #fff; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
hr.collapsed {
    width: 1px;
}

.title {
    position: relative;

    font-size: 100px;
    font-weight: bold;
    height: 150px;
}

.title * {
    text-align: right;
    width: 500px;

    cursor: pointer;
}

.title .subtext {
    position: relative;
    top: -10px;
    
    font-size: 20px;
}

.title a {
    text-decoration: none;
}

.title .main {
    color: #fff;
}

.title .alt {
    color: #333;
}

.content {
    margin: auto;
    width: 800px;
}

.greeting {
    text-align: center;
    justify-content: center;
}

.greeting .sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.greeting .fa {
    font-size: 50px;
}

.greeting .section {
    border: 5px solid #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting .section * {
    margin: 5px;
    cursor: pointer;
}

.greeting .section.droopy {
    position: relative;
    top: 50px;
}
