body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #CF3030;
    color: #fff;
    min-height: 600px;
    padding: 15px;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

hr.symbol {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.symbol:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.title {
    position: relative;

    font-size: 100px;
    font-weight: bold;
    height: 150px;
}

.title * {
    text-align: right;
    width: 500px;

    cursor: pointer;
}

.title .subtext {
    position: relative;
    top: -10px;
    
    font-size: 20px;
}

.title a {
    text-decoration: none;
}

.title .main {
    color: #fff;
}

.title .alt {
    color: #333;
}

.content {
    margin: auto;
    width: 800px;
}

.greeting {
    text-align: center;
    justify-content: center;
}

.greeting .sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.greeting .fa {
    font-size: 50px;
}

.greeting .section {
    border: 8px solid #fff;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting .section * {
    margin: 5px;
}